@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');
body {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background-color: rgb(253, 215, 18);
    color: white;
}

.search {
    display: grid;
    place-items: center;
    margin-bottom: 2em;
}
.search label {
    font-size: 2rem;
}
.search input{
    border: none;
    width: 70%;
    height: 2em;
}
@media (min-width: 700px) {
    .search input {
        width: 50%;
    }
}

@media (min-width: 1000px) {
    .search input{
        width: 40%;
    }
}
header {
    background-image: url("images/3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    background-size: cover;
    padding: 4em;
    margin-bottom: 2em;
}
h1{
    width: 70%;
    margin: 0 auto;
    padding: .5em;
    text-align: left;
    color: white;
    font-size: 4rem;
    line-height: 1em;
    position: relative;
    z-index: 0;
   border: 2px solid white;
    
}
h1:after {
    content:'19';
    position: absolute;
    font-size: 15rem;
    /* color: rgba(255, 1, 255, 0.449); */
    color: rgba(126, 111, 111, 0.906);
    bottom: 0;
    left: 0;
    z-index: -1;
}

span {
    width: 50%;
    position: relative;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    z-index: 0;
    line-height: 1em;
    display: block;
    padding-left: .5em;
    border-left: .5em solid white;
}

@media (min-width: 600px) {
    header{
        background-position: top;
    }
    h1{
        width: 40%;
    }
}

@media (min-width: 800px) {
    h1{
        font-size: 5rem;
    }
    h1:after{
        font-size: 19rem;
        left: 20%;
    }
    span{
        font-size: 2rem
    }
}

h2, p {
    margin: 0;
}
/*--------------------------
----------------------------
------ LIST OF WORDS--------
-----------------------------
----------------------------- */
.voc-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    place-items: center;
    gap: 1.2em;
    padding: 1em;
}
.new-word {
    border-radius: 15px;
    width: 200px;
    padding: 1.3em;
    background-color: rgba(240, 248, 255, 0.552);
}
.word{
    color: rgba(255, 1, 107, 0.763);
    position: relative;
    z-index: 0;
}
.word:before {
    position: absolute;
    font-size: 9rem;
    left: 30%;
    top: -150%;
    z-index: -1;
    color:  rgba(126, 111, 111, 0.089);
}
.word-1:before{content:'01';}
.word-2:before{content:'02';}
.word-3:before{content:'03';}
.word-4:before{content:'04';}
.word-5:before{content:'05';}
.word-6:before{content:'06';}
.word-7:before{content:'07';}
.word-8:before{content:'08';}
.word-9:before{content:'09';}
.word-10:before{content:'10';}
.word-11:before{content:'11';}
.word-12:before{content:'12';}
.word-13:before{content:'13';}
.word-14:before{content:'14';}
.word-15:before{content:'15';}
.word-16:before{content:'16';}
.word-17:before{content:'17';}
.word-18:before{content:'18';}
.word-19:before{content:'19';}


.word-pronounciation {
    font-family: sans-serif;
    font-size: .75rem;
    font-style: italic;
    color: rgba(0, 0, 0, 0.552);
}
.open-modal {
    margin-top: 3em;
    font-family: 'Nunito' sans-serif;
    text-transform: uppercase;
    font-size: .6rem;
    font-weight: bold;
    letter-spacing: .1em;
    padding: .5em 1em;
    border: none;
    background-color: rgba(255, 1, 107, 0.429);
    border-radius: 10px;
    color: white;
}
.open-modal:hover,
.open-modal:focus {
    cursor: pointer;
    background-color: rgba(255, 1, 107, 0.62);
    outline: none;
}

/*--------------------------
----------------------------
-------MODAL & OVERLAY------
-----------------------------
----------------------------- */
.meaning-div {
    max-width: 400px;
    margin-top: 1em;
    display: none;
}
.word-meaning {
    line-height: 1.2em;
    font-size: .75rem;
    font-weight: bold;
    color:rgba(80, 78, 79, 0.429);
    
}
.close-btn {
    border: none;
    color: rgba(138, 131, 134, 0.429);
    background-color:rgba(255, 255, 255, 0);
    font-size: .45rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .3em;
    margin-top: 1em;
    padding: 0;
}
.close-btn:hover,
.close-btn:focus {
    cursor: pointer;
}